/* Imports
*******************************************************************************/

/* Import bootstrap */
@import "bootstrap.min.css";


/* Size constants
*******************************************************************************/
// spacebar
$sb_size: 1px;
$sb_style: solid;

// overview spacing
$px_itemContentWidth: 250px;
$px_itemPadding: 10px;
$px_itemWidth: $px_itemContentWidth + (2 * $px_itemPadding);
$px_itemMargin: 50px;

// post view sizes
$pt_postFontSize: 9pt;
// want to use pt, but CSS just can't mix them well...
//$pt_postMaxWidth: 375pt;
$px_postMaxWidth: 500px;
$px_imgWidth: 200px;
$px_imgPad: 35px;
$px_screenWideMin: $px_postMaxWidth + (($px_imgPad + $px_imgWidth) * 2);


/* Colors
*******************************************************************************/

// RAW (options)
// -------------
// These are from Color Brewer
$craw_orange: #ff7f00;
$craw_blue: #377eb8;
$craw_green: #33a02c;
$craw_purple: #984ea3;
$craw_red: #e41a1c;

// These greys were picked semi-arbitrarily
$craw_grey_1: #242625;
$craw_grey_2: #787878;
$craw_grey_3: #cdcdcd;

// These should be set from the greys above
$craw_grey_darkest: $craw_grey_1;
$craw_grey_lightest: $craw_grey_3;

// For background
$craw_offwhite: #fcfcfc;

// SETTINGS (choices)
// ------------------

// project / resarch categories
$c_prog: $craw_orange;
$c_music: $craw_blue;
$c_clothes: $craw_green;
$c_robotics: $craw_purple;

// main
$c_bg: $craw_offwhite;
$c_border: $craw_grey_lightest;
$c_text: $craw_grey_lightest;
$c_text_em: $craw_grey_2;
$c_text_dark: $craw_grey_darkest;


/* Mixins
*******************************************************************************/
// thanks to:
// http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html
@mixin grey-image() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Note: SASS bug: can't use variables within CSS functions (like calc).*/
/* Must manually set all to 50% + ($px_imgWidth + <desired padding>) */
@mixin left-calc($expr) {
	/* Firefox */
	left: -moz-calc(#{$expr});
	/* WebKit */
	left: -webkit-calc(#{$expr});
	/* Opera */
	left: -o-calc(#{$expr});
	/* Standard */
	left: calc(#{$expr});
}


/* Classes
*******************************************************************************/

/*I think 380 is the smallest setting, but my phone is 360, so basing off of that*/
header > .container.top {
	max-width: 360px;
}

header > .container.separator {
	width: 100%;
	padding-top: 10px;
}

.spacebar {
	/* Default */
	border-bottom: $sb_size $sb_style $c_border;
}

.spacebar.programming {
	border-bottom: $sb_size $sb_style $c_prog; }
.spacebar.music {
	border-bottom: $sb_size $sb_style $c_music; }
.spacebar.clothes {
	border-bottom: $sb_size $sb_style $c_clothes; }
.spacebar.robotics {
	border-bottom: $sb_size $sb_style $c_robotics; }

.location {
	font-size: 9pt;
	padding-left: 5px;
}

// Match before the specifics (not selected)
.cats a, .cats a:visited {
	color: $c_text;
}

// The specifics (selected). Can add .cats to all if this breaks.
.programming a, .programming a:visited{
	color: $c_prog; }
.music a, .music a:visited {
	color: $c_music; }
.clothes a, .clothes a:visited {
	color: $c_clothes; }
.robotics a, .robotics a:visited {
	color: $c_robotics; }

body {
	//border: 10px solid $c_border;
	color: $c_text;
	background-color: $c_bg;
}

/* Universal styles */
header, footer, body, h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
}

/* Spacing and nav links font */
header, footer {
	color: $c_text;
}

.linkbar > div {
	padding-bottom: 5px;
	letter-spacing: 2px;
}

.prjLink {
	text-align: left;
}

.researchLink {
	text-align: right;
}

.row .research {
	text-align: right;
}

.areas > div {
	letter-spacing: 1px;
	text-align: left;
}

header {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* My "Max Forbes" font */
header h1, header h1 a:hover, header h1 a {
	color: $c_text_dark;
	text-align: center;
	font-family: monospace;
	margin-bottom: 10px;
	//letter-spacing: 1px;
	font-size: 29pt;
	/*text-shadow: #111 0px 0px 10px;*/
}

header h2 {
	font-size: 18pt;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $c_text_dark;
}


footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
	border-top: 1px solid $c_border;

	a, a:hover, a:visited {
		color: $c_text_em;
	}
}

.content {
	/* Centers all of the cards. */
	text-align: center;
}

.content h1 {
	margin-top: 0px;
	font-size: 10pt;
	font-weight: 100;
	letter-spacing: 2px;
}

.content h2 {
	font-size: 14pt;
	margin-top: 0px;
	font-weight: 100;
	clear: both;
	color: $c_text_em;
}

.vertImage {
	//border: 1px solid $c_border;
	@include grey-image();
	width: $px_itemContentWidth;
	height: auto;
	padding-bottom: 5px;
}

.simpledate {
	font-size: 8pt;
	text-align: left;
	float: left;
}

.licon {
	margin-right: 8px;
}

.ricon {
	margin-left: 8px;
}

.simpleicon {
	float: right;
	text-align: right;
}

.content p {
	/*font-family: "Helvetica Neue";*/
	font-size: 9pt;
	text-align: left;
	color: $c_text_em;

	/* Better justify. Not in Chrome (!). */
	// -webkit-hyphens: auto;
	// -moz-hyphens: auto;
	// hyphens: auto;
}

pre code {
	font-size: $pt_postFontSize;
}

.itemcontent {
	// TODO(max): Make this center! Bootstrap should actually help this...
	margin: 0 auto;
	font-size: $pt_postFontSize;
	color: $c_text_em;
	text-align: justify;
	max-width: $px_postMaxWidth;

	h1 {
		text-align: center;
	}

	h2, h3, h4, h5, h6 {
		text-align: left;
	}

	img {
		@include grey-image();

		/* With a small screen, show image inline. */
		@media (max-width: $px_screenWideMin) {
			max-width: $px_postMaxWidth;
			text-align: center;
		}
	}

	img:not(.inline) {
		/* For images not marked as inline, and with a big screen,
	   show image to right. */
		@media (min-width: $px_screenWideMin) {
			max-width: $px_imgWidth;
			position: absolute;
			@include left-calc("50% + #{$px_postMaxWidth} / 2 + #{$px_imgPad}");
		}
	}

	table td {
		padding-left: 7px;
	}
}

.simpleitem {
	border-left: 1px solid $c_border;
	width: $px_itemWidth;
	margin: $px_itemMargin;
	padding: $px_itemPadding;
	display: inline-block;
}

/* Fix spacing for multi-level bullets. We want inner bullets closer
   to their parents, and farther away from the next level below.*/
p~ol, p~ul {
	margin-top: -10px; /* Not right next to, but close */
	margin-bottom: 10px; /* Get some room on the bottom! */
}

/* Hoever, with the last fix, bullets that come right after headers are
   wonky; space them out a bit.*/
h1~ol, h1~ul, h2~ol, h2~ul, h3~ol, h3~ul, h4~ol, h4~ul, h5~ol, h5~ul, h6~ol, h6~ul {
	margin-top: 0px; /* Restore the natural space (remove negative). */
}
