//- Menubar

.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.askdube-text(href="/home")
        i.fa.fa-question-circle
        span Ask DUB-E
      button.navbar-toggle(type="button", data-toggle="collapse",
        data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", role="button",
            aria-expanded="false")
            | {{user.email}} &nbsp;
            i.fa.fa-caret-down
          ul.dropdown-menu(role="menu")
            li
              a(href="/profile")
                i.fa.fa-user(style="margin-right: 5px")
                span Profile
            li(role="presentation").divider
            li
              //- NOTE: `target="_self"` is there to make logout work
              a(href="/logout", target="_self")
                i.fa.fa-sign-out(style="margin-right: 5px")
                span Sign out


//- Question Input Interface

.jumbotron.jumbotron-home
  .container
    form(ng-submit="submitQuestion()")
      .form-horizontal
        .form-group.form-group-lg(ng-class="{ 'has-error' : errorQuestion }")
          .input-group
            input.form-control(type="text", placeholder="Type question here",
              style="box-shadow: none;", ng-model="questionForm.typed_cmd")
            .input-group-btn
              button.btn.btn-primary.btn-lg Submit
          span.help-block(ng-show="errorQuestion") {{ errorQuestion }}
      .qoption-group
        .btn-group.qoption-spacing(dropdown)
          button.btn.btn-default.btn-sm.dropdown-toggle(type="button",
            dropdown-toggle)
            i.qoption-icon-rspacing(ng-class="audienceOpts.icon")
            span.qoption-text {{audienceOpts.name}}
            i.fa.fa-caret-down.qoption-icon-lspacing
          ui(role="menu").dropdown-menu
            li.dropdown-header(role="presentation") Who should see this?
            li
              a(href="javascript:void(0)", ng-click="audienceOpts.icon='fa fa-users'; audienceOpts.name='CSE'; questionForm.is_public=true;")
            li
              a(href="javascript:void(0)", ng-click="audienceOpts.icon='fa fa-lock'; audienceOpts.name='Only Me'; questionForm.is_public=false;")
        .btn-group.qoption-spacing(dropdown)
          button.btn.btn-default.btn-sm.dropdown-toggle(type="button",
            dropdown-toggle)
            i.qoption-icon-rspacing(ng-class="notificationOpts.icon")
            span.qoption-text {{notificationOpts.name}}
            i.fa.fa-caret-down.qoption-icon-lspacing
          ui(role="menu").dropdown-menu
            li.dropdown-header(role="presentation")
              | How do you want to be notified?
            li
              a(ng-click="notificationOpts.icon='fa fa-envelope'; notificationOpts.name='Email'; questionForm.notification_email=true;")
                i.fa.fa-envelope.qoption-icon-rspacing
                span Email
            li
              a(ng-click="notificationOpts.icon='fa fa-newspaper-o'; notificationOpts.name='Feed Only'; questionForm.notification_email=false;")
                i.fa.fa-newspaper-o.qoption-icon-rspacing
                span Feed Only
        .btn-group.qoption-spacing
          i.fa.fa-exclamation-triangle.qoption-icon-rspacing
          span.qoption-text.qoption-icon-rspacing Deadline
            small &nbsp;(Today)&nbsp;
          input.qoption-deadline(type="time", ng-model="questionForm.deadline",
            placeholder="HH:mm:ss", min="08:00:00", max="17:00:00")


//- QueryJob List

.container

  .panel.panel-default(ng-repeat="queryjob in queryjobs")
    .panel-body.body(style="padding-top: 0px;")
      .row
        //- user stuff
        div(style='text-align: left')
          //- cancel button
          button.btn.btn-default.btn-sm.pull-right.cancel-text(ng-if="queryjob.status > 3")
            | Cancel
          div(style="padding-top: 15px;", ng-if="!(queryjob.status > 3)")
          p.col-xs-12
            span.name-text {{queryjob.user.name}} &nbsp;&nbsp;
            span.time-text {{queryjob.timeissued | date:'medium'}}
          p.col-xs-12
            i.fa.fa-users(ng-if="(queryjob.is_public)")
            i.fa.fa-lock(ng-if="!(queryjob.is_public)")
            span &nbsp;&nbsp;·&nbsp;&nbsp;
            i.fa.fa-envelope(ng-if="queryjob.notification_email")
            i.fa.fa-newspaper-o(ng-if="!(queryjob.notification_email)")
            span &nbsp;&nbsp;·&nbsp;&nbsp;
            i.fa.fa-exclamation-triangle &nbsp;
            span {{queryjob.deadline | date:'medium'}}
          p(style='font-size; 25px').userCmd.lead.col-xs-12
            | {{queryjob.typed_cmd}}
        //- robot stuff
        div(style='text-align: right')
          p(style='text-align: right').col-xs-12
            span.name-text DUB-E &nbsp;&nbsp;
            //- TODO: make below depends on "status"
            spen.time-text {{queryjob.timeissued | date:'medium'}}
          //- TODO: make below depends on the "response"
          //- p.col-xs-12
          //-   i.fa.fa-bar-chart-o &nbsp;
          //-   span 90%
          p(style='font-size; 25px').lead.col-xs-12
            | Yes.
          //- TODO: add image
        div.col-xs-12
          p
            //- TODO: make below depends on "status"
            div(style='text-align: center; margin-bottom: 0px').alert.alert-warning Running

    .panel-footer.footer
      .row
