//- Menubar

.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.askdube-text(href="/home")
        i.fa.fa-question-circle
        span Ask DUB-E
      button.navbar-toggle(type="button", data-toggle="collapse",
        data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", role="button",
            aria-expanded="false")
            | {{user.email}} &nbsp;
            i.fa.fa-caret-down
          ul.dropdown-menu(role="menu")
            li
              a(href="/profile")
                i.fa.fa-user(style="margin-right: 5px")
                span Profile
            li(role="presentation").divider
            li
              a(href="/logout", target="_self")
                i.fa.fa-sign-out(style="margin-right: 5px")
                span Sign out


//- Question Input Interface

.jumbotron.jumbotron-home
  .container
    form
      .form-horizontal
        .form-group.form-group-lg
          .input-group
            input.form-control(type="text", placeholder="Type question here",
              style="box-shadow: none;")
            .input-group-btn
              button.btn.btn-primary.btn-lg Submit
      .qoption-group
        .btn-group.qoption-spacing(dropdown)
          button.btn.btn-default.btn-sm.dropdown-toggle(type="button", dropdown-toggle)
            i.fa.fa-users.qoption-icon-rspacing
            span.qoption-option-text CSE
            i.fa.fa-caret-down.qoption-icon-lspacing
          ui(role="menu").dropdown-menu
            li.dropdown-header(role="presentation") Who should see this?
            li
              a(href="#")
                i.fa.fa-users.qoption-icon-rspacing
                span CSE
                br
                span(style="font-size: 12px; color: rgb(119,119,119); margin-right: 10px")
                  | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Anyone with CSE account.
            li
              a(href="#")
                i.fa.fa-lock.qoption-icon-rspacing
                span Only Me
        .btn-group.qoption-spacing(dropdown)
          button.btn.btn-default.btn-sm.dropdown-toggle(type="button", dropdown-toggle)
            i.fa.fa-envelope.qoption-icon-rspacing
            span.qoption-text Email
            i.fa.fa-caret-down.qoption-icon-lspacing
          ui(role="menu").dropdown-menu
            li.dropdown-header(role="presentation") How do I want to be notified?
            li
              a(href="#")
                i.fa.fa-envelope.qoption-icon-rspacing
                span Email
            li
              a(href="#")
                i.fa.fa-comment.qoption-icon-rspacing
                span SMS
        .btn-group.qoption-spacing
          i.fa.fa-calendar.qoption-icon-rspacing
          span.qoption-text.qoption-icon-rspacing Deadline
          input.qoption-deadline(type="time", ng-model="value", placeholder="HH:mm:ss")
        button#btnSubmitQuestion(style='display: none')


//- QueryJob List

.container

  div(ng-repeat="queryjob in queryjobs").panel.panel-default
    .panel-body.body
      .row
        //- user stuff
        div(style='text-align: left')
          p.col-xs-9
            span.name-text {{queryjob.user_id}} &nbsp;&nbsp;
            spen.time-text {{queryjob.timeissued | date:'medium'}}
          //- cancel button
          p(style='text-align: right').upperLeftButtons.col-xs-3
            button(style='opacity: 1', disabled='disabled').btn Cancel
          //- rest of the user stuff
          p.col-xs-12
            button(style='opacity: 1', disabled='disabled').btn.btn-xs public
            | &nbsp;&nbsp;
            button(style='opacity: 1', disabled='disabled').btn.btn-xs deadline
          p(style='font-size; 25px').userCmd.lead.col-xs-12
            | {{queryjob.typed_cmd}}
        //- robot stuff
        div(style='text-align: right')
          p(style='text-align: right').col-xs-12
            span.name-text DUB-E &nbsp;&nbsp;
            spen.time-text {{queryjob.timeissued | date:'medium'}}
          //-
          p.col-xs-12
            button(style='opacity: 1', disabled='disabled').btn.btn-xs public
            | &nbsp;&nbsp;
            button(style='opacity: 1', disabled='disabled').btn.btn-xs deadline
          p(style='font-size; 25px').lead.col-xs-12
            | Yes.
          p.col-xs-12
        div.col-xs-12
          p
            div(style='text-align: center; margin-bottom: 0px').alert.alert-warning Running

    .panel-footer.footer
      .row
