//- Menubar

.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/home") Ask DUB-E
      button.navbar-toggle(type="button", data-toggle="collapse",
        data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a(data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle
            | Signed in as {{user.name}} &nbsp;&nbsp;
            i.fa.fa-caret-down
          ul(role="menu").dropdown-menu
            li
              a(href="/profile") Profile
            li
              a(href="/logout", target="_self") Sign out


//- Question Input Interface

.jumbotron.jumbotron-home
  .container
    form#submitQuestion
      .form-group
        .input-group.input-group-lg
        input#inputTypedCmd.form-control(type="text",
          placeholder="Type question here"
          style="box-shadow: none;")
      .form-inline(align="center")
        .form-group(style="padding-right: 20px;")
          label Make Public
          | &nbsp;&nbsp;
          input#inputPublic.js-switch.small(type="checkbox", checked)
        .form-group(style="padding-right: 20px;")
          label Email Notification
          | &nbsp;&nbsp;
          input#inputEmail.js-switch.small(type="checkbox")
        .form-group(style="padding-right: 20px;")
          label Deadline
          | &nbsp;&nbsp;
          #inputDeadline.input-group.input-group-sm.date
            input.form-control(type="text",
              style="box-shadow: none;")
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
        a#aSubmitQuestion.btn.btn-primary Submit
        //- For using "Enter" key.
        button#btnSubmitQuestion(style='display: none')


//- QueryJob List

.container#container
  div(ng-repeat="queryjob in queryjobs").panel.panel-default
    .panel-body.body
      .row
        //- user stuff
        div(style='text-align: left')
          p.col-xs-9
            span.name-text {{queryjob.user_id}} &nbsp;&nbsp;
            spen.time-text {{queryjob.timeissued | date:'medium'}}
          //- cancel button
          p(style='text-align: right').upperLeftButtons.col-xs-3
            button(style='opacity: 1', disabled='disabled').btn Cancel
          //- rest of the user stuff
          p.col-xs-12
            button(style='opacity: 1', disabled='disabled').btn.btn-xs public
            | &nbsp;&nbsp;
            button(style='opacity: 1', disabled='disabled').btn.btn-xs deadline
          p(style='font-size; 25px').userCmd.lead.col-xs-12
            | {{queryjob.typed_cmd}}
        //- robot stuff
        div(style='text-align: right')
          p(style='text-align: right').col-xs-12
            span.name-text DUB-E &nbsp;&nbsp;
            spen.time-text {{queryjob.timeissued | date:'medium'}}
          //-
          p.col-xs-12
            button(style='opacity: 1', disabled='disabled').btn.btn-xs public
            | &nbsp;&nbsp;
            button(style='opacity: 1', disabled='disabled').btn.btn-xs deadline
          p(style='font-size; 25px').lead.col-xs-12
            | Yes.
          p.col-xs-12
        div.col-xs-12
          p
            div(style='text-align: center; margin-bottom: 0px').alert.alert-warning Running

    .panel-footer.footer
      .row

  //- // DOM templates.
  //- var cardBodyTemplate = $('<div>').addClass('panel-body body')
  //-   .css('padding', '15px 15px 0px');
  //- var cardFooterTemplate = $('<div>').addClass('panel-footer footer')
  //-   .css('padding', '15px 15px 0px');
  //- var cardTemplate = $('<div>').addClass('panel panel-default')
  //-   .append(cardBodyTemplate.clone())
  //-   .append(cardFooterTemplate.clone());
  //- var nameTemplate = $('<span>').addClass('name-text');
  //- var timeTemplate = $('<span>').addClass('time-text');
  //- var tagTemplate = $('<button>').addClass('btn btn-xs')
  //-   .css('opacity', 1).attr('disabled', 'disabled');
  //- var statusTemplate = $('<div>').addClass('alert')
  //-   .css('text-align', 'center')
  //-   .css('margin-bottom', '0px');


//- <ul class="phones">
//-   <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
//-     <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
//-     <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
//-     <p>{{phone.snippet}}</p>
//-   </li>
//- </ul>



//- p home!

//- ul
//-   li
//-     a(href='home') home
//-   li
//-     a(href='wall') wall
