extends layout

block content

  //- MENUBAR
  include menubar

  //- JUMBOTRON
  .jumbotron(style="padding: 70px 0px 20px; margin-bottom: 0px;")
    .container
      form#submitQuestion(role="form")
        .form-group
          .right-inner-addon
            i.fa.fa-question-circle.fa-lg
            input#inputTypedCmd.form-control(type="text",
              placeholder="Type question here")
        .form-inline(align="center")
            button#btnSubmitQuestion.btn.btn-primary Submit Question
            | &nbsp;&nbsp;
            //- button#btnToggleSMS.btn.btn-default.btn-sm(type="button",
            //-   data-toggle="button") SMS
            button#btnTogglePublic.btn.btn-default.btn-sm(type="button",
              data-toggle="button") Public
            | &nbsp;&nbsp;
            button#btnToggleEmail.btn.btn-default.btn-sm(type="button",
              data-toggle="button") Email

  //- MAIN CONTENTS
  .container#feedList

block javascript
  script(src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")
  script(src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js")
  script(src="js/home.js")
  if prod
    script. var urlROS = 'ws://dub-e.org:9090';
  unless prod
    script. var urlROS = 'ws://localhost:9090';
