extends layout

block content
  //- JUMBOTRON
  .jumbotron(style="padding-top: 70px; padding-bottom: 20px;")
    .container
      form#submitQuestion(role="form")
        .form-group
          .right-inner-addon
            i.glyphicon.glyphicon-question-sign
            input#inputTypedCmd.form-control(type="text", placeholder="Type question here")
        .form-inline
            button#btnSubmitQuestion.btn.btn-primary.btn-lg Submit Question
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button#btnToggleSMS.btn.btn-default.btn-small(type="button" data-toggle="button") SMS
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button#btnToggleEmail.btn.btn-default.btn-small(type="button" data-toggle="button") Email
            //- | &nbsp;&nbsp;&nbsp;&nbsp;
            //- .form-group
            //-   .input-group.input-group-sm.bootstrap-timepicker
            //-     input#inputDeadline.form-control(type="text")
            //-     span.input-group-addon
            //-       i.glyphicon.glyphicon-time

  //- MAIN CONTENTS
  .container
    .row
      .col-xs-12
        .list-group
          .list-group-item
            .row
              p.list-group-item-text.col-xs-6 Today 10:05am
              p.list-group-item-text.col-xs-6(align="right") in queue
              p.list-group-item-text.col-xs-12 @{{user}}: Is Aleesha in her office?
              p.list-group-item-text.col-xs-6 Deadline: 10:20am
              .col-xs-6(align="right")
                button.btn.btn-primary(type="button") Cancel
          .list-group-item
            img.img-thumbnail(src="img/Image_view_example_resized.png", alt="Result", style="width: 100%; height: auto;")

            .row
              p.list-group-item-text.col-xs-6 Yesterday 1:30pm
              p.list-group-item-text.col-xs-6(align="right") success
              p.list-group-item-text.col-xs-12 @{{user}}: Is there food in the kitchen?
          .list-group-item
            .row
              p.list-group-item-text.col-xs-6 Yesterday 10:05am
              p.list-group-item-text.col-xs-6(align="right") failed
              p.list-group-item-text.col-xs-12 @{{user}}: Is CSE403 in use?

