extends layout

block css
  link(rel="stylesheet", href="css/switchery.min.css")
  link(rel="stylesheet", href="css/bootstrap-datetimepicker.min.css")

block content

  //- MENUBAR
  include menubar

  //- JUMBOTRON
  .jumbotron.jumbotron-home
    .container
      form#submitQuestion
        .form-group
          input#inputTypedCmd.form-control(type="text",
            placeholder="Type question here"
            style="box-shadow: none;")
        .form-inline(align="center")
          b Make Public
          | &nbsp;&nbsp;
          input#inputPublic.js-switch.small(type="checkbox")
          | &nbsp;&nbsp;&nbsp;&nbsp;
          b Email Notification
          | &nbsp;&nbsp;
          input#inputEmail.js-switch.small(type="checkbox")
          | &nbsp;&nbsp;&nbsp;&nbsp;
          b Deadline
          | &nbsp;&nbsp;
          #inputDeadline.input-group.input-group-sm.date
            input.form-control(type="text",
              style="box-shadow: none;")
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a#aSubmitQuestion.btn.btn-primary Submit Question
          //- For using "Enter" key.
          button#btnSubmitQuestion(style='display: none')

  //- MAIN CONTENTS
  .container#container

block javascript
  script(src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")
  script(src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js")
  script(src="js/vendor/moment.js")
  script(src="js/vendor/bootstrap-datetimepicker.min.js")
  script(src="js/vendor/switchery.min.js")

  //- TODO: find general solution for below approach (grunt inject?).
  //- Hack to pass variable from the server to the client.
  if prod
    script. var urlROS = 'ws://dub-e.org:9090';
  unless prod
    script. var urlROS = 'ws://localhost:9090';

  script(src="js/modules.js")
  script(src="js/home.js")
