doctype html
//[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>
    <html class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!
html(class="no-js")
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/bootstrap-switch.min.css")
    link(rel="stylesheet" href="css/bootstrap-timepicker.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.8.3.min.js")
    //- Remove below line when in production mode.
    script(src="//localhost:35729/livereload.js")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- SITE CONTENT
    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.1.min.js"><\/script>')
    script(src="js/vendor/bootstrap.min.js")
    script(src="js/vendor/bootstrap-switch.min.js")
    script(src="js/vendor/bootstrap-timepicker.min.js")
    script(src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")
    script(src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js")
    block javascript

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
