doctype html
//[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>
    <html class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!
html(class="no-js")
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    //- link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(rel='stylesheet' href='css/bootstrap-switch.min.css')
    link(rel='stylesheet' href='css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.8.3.min.js')
  body(onload='init()')
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- NAVBAR HEADER
    if isAuthenticated
      .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href="/home") Ask DUB-E
              li
                a(href="#") Question Feed
              li
                a(href="/map") Where's DUB-E?

    //- //- Add your site or application content here
    //- block content

    h1 Simple Map Example
    p Run the following commands in the terminal then refresh this page. This will load a map from the
      tt ros-groovy-rail-maps package.
    ol
      li
        tt roscore
      li
        tt rosrun map_server map_server /opt/ros/groovy/share/rail_maps/maps/ilab.pgm 0.05
      li
        tt roslaunch rosbridge_server rosbridge_websocket.launch
    #map


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.1.min.js"><\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/vendor/bootstrap-switch.min.js')
    script(src='js/vendor/bootstrap-timepicker.min.js')
    script(src='js/main.js')

    script(src='http://cdn.robotwebtools.org/threejs/current/three.js')
    script(src='http://cdn.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.js')
    script(src='http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js')
    script(src='http://cdn.robotwebtools.org/roslibjs/current/roslib.js')
    script(src='http://cdn.robotwebtools.org/ros3djs/current/ros3d.js')


    script.
      /**
       * Setup all visualization elements when the page is loaded.
       */
      function init() {
        // Connect to ROS.
        var ros = new ROSLIB.Ros({
          url : 'ws://localhost:9090'
        });

        // Create the main viewer.
        var viewer = new ROS3D.Viewer({
          divID : 'map',
          width : 800,
          height : 600,
          antialias : true
        });

        // Setup the marker client.
        var gridClient = new ROS3D.OccupancyGridClient({
          ros : ros,
          rootObject : viewer.scene
        });

        // Add a grid.
        viewer.addObject(new ROS3D.Grid());

        // Setup a client to listen to TFs.
        var tfClient = new ROSLIB.TFClient({
          ros : ros,
          angularThres : 0.01,
          transThres : 0.01,
          rate : 10.0
        });

        // Setup the URDF client.
        var urdfClient = new ROS3D.UrdfClient({
          ros : ros,
          tfClient : tfClient,
          path : 'http://127.0.0.1/',
          rootObject : viewer.scene
        });
      }

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
