extends layout

block content
  .jumbotron
    .container
      h1 Sign Up
      p Ask DUB-E to see what is going on in CSE today!
      a.btn.btn-danger.btn-lg(href='/auth/google') Sign in with Google
