extends layout

block content
  .jumbotron
    .container
      h1 Sign Up
      p Ask DUB-E to see what is going on in CSE today!
      a.btn.btn-danger.btn-lg(href="/auth/google") Sign in with Google
      p(style="font-size: 15px; padding-top: 10px;")
        | Note that you must use <b>@cs.uw.edu</b> or <b>@cs.washington.edu</b>
        | google account.
        | If you already have logged in with your other google account, visit
        | <a href="https://security.google.com/settings/security/permissions">
        | here</a> to reset your google account permissions.
