extends layout

block content
  .container(style="padding-top: 70px;")
    .row
      .col-xs-12
        button.btn.btn-primary Back

script(src="http://cdn.robotwebtools.org/threejs/current/three.js")
script(src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")
script(src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js")
script(src="http://cdn.robotwebtools.org/ros3djs/current/ros3d.js")
