/* Existing */

body {
  padding-bottom: 20px;
}

.container {
  max-width: 730px;
}

.jumbotron-home {
  padding: 70px 0px 20px;
  margin-bottom: 25px;
}

.jumbotron .sublead {
  font-size: 15px; padding-top: 10px;
}

/* Custom */

.name-text {
  font-weight: bold;
}

.time-text {
  font-weight: normal;
  color: gray;
}

.result-img-sm {
  width: 100px;
}

.result-img-lg {
  width: 100%;
}
