<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="Home"><a href="/home">Your Questions</a></li>
        <li id="Wall"><a href="/wall">Everyone's Questions</a></li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as</p>
    </div>
  </div>
</div>
