<div class="jumbotron">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Ask DUB-E to see what is going on in CSE today!</p><a href="/auth/google" class="btn btn-danger btn-lg">Sign in with Google</a>
    <p class="sublead">
      Note that you must use <b>@cs.uw.edu</b> or <b>@cs.washington.edu</b> google account.
      If you already have logged in with your other google account, visit <a href="https://security.google.com/settings/security/permissions">here</a> to reset your google account permissions.
    </p>
  </div>
</div>
